.footer {
    position: relative;
    background: #1B262F;
    margin-bottom: 0;

    width: 100%;
    &::after {
        content: "";

        position: absolute;
    
        background: url(/img/footerBitmap.png) no-repeat;
        background-size: 100% 100%;

        width: 480px;
        height: 120px;

        right: 0;
        top: 0;
    }
    &__block {
        padding: 30px 0;
        @include displayFlex(flex, center, center);
        justify-content: space-between;
        &__menu {
            @include displayFlex(flex, center, center);
            justify-content: space-between;
            list-style: none;

            width: 300px;

            margin-right: auto;
            &__item {
                &__link {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    text-decoration: none;
                    
                    color: #FBFCFE;
                    
                    mix-blend-mode: normal;
                    opacity: 0.7;

                    &:active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__img {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__img >a{
        color: #fff;
        cursor: pointer;
    }


}


@media screen and (max-width: 870px) {
    .footer {
        position: relative;
        background: #1B262F;
    
        width: 100%;
        &::after {
            content: "";
    
            position: absolute;
        
            background: url(/img/footerBitmap.png) no-repeat;
            background-size: 100% 100%;
    
            width: 480px;
            height: 120px;
    
            right: 0;
            top: 0;
        }
        &__block {
            padding: 30px 0;
            @include displayFlex(flex, center, center);
            justify-content: space-between;
            &__menu {
                @include displayFlex(flex, center, center);
                justify-content: space-between;
                list-style: none;
    
                width: 300px;
    
                margin-right: auto;
                &__item {
                    &__link {
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
                        text-decoration: none;
                        
                        color: #FBFCFE;
                        
                        mix-blend-mode: normal;
                        opacity: 0.7;
                        &:active {
                            color: rgb(168, 164, 164);
                        }
                    }
                }
            }
        }
        &__img {
            width: 150px;
            display: flex;
            justify-content: space-between;
            & > svg{
                    & > path {
                        &:active {
                            fill:#DA6D97;
                        }
                      }
                
              }
        }
    }
}

@media screen and (max-width: 485px) {
    .footer {
        position: relative;
        background: #1B262F;
    
        width: 100%;
        &::after {
            content: "";
    
            position: absolute;
        
            background: url(/img/footermobileBitmap.png) no-repeat;
            background-size: 100% 100%;
    
            width: 100%;
            height: 160px;
            top: 160px;
        }
        &__block {
            @include displayFlex(flex, center, center);
            flex-direction: column;
            justify-content: space-between;
            &__menu {
                @include displayFlex(flex, center, center);
                justify-content: space-between;
                flex-direction: column;
                list-style: none;
                
                height: 150px;
                width: 100%;

                margin-right: 50px;
    
                &__item {
                    &__link {
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
                        text-decoration: none;
                        
                        color: #FBFCFE;
                        
                        mix-blend-mode: normal;
                        opacity: 0.7;
                        &:active {
                            color: rgb(168, 164, 164);
                        }
                    }
                }
            }
        }
    }
}