.simple{
    margin-top: 70px;
    margin-bottom: 50px;
    height: 100vh;
    display: flex;
    align-items: center;

    &__into{
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 0;

        &__info{
           width: 40%;

        }

        &__info >h2{
            font-weight: normal;
            font-size: 48px;
            font-family: 'DM Serif Display', serif;
        }

        &__info >p{
            font-weight: normal;
            font-size: 15px;
            line-height: 26px;
        }

    }
}

.simple::after{
    content: "";
    width: 350px;
    height: 105vh;
    position: absolute;
    background: url(../img/Bitmap2.png) no-repeat;
    background-size: 100% 100%;
    
    right: 0;
    z-index: -7;
}

.phones{
    margin-top: 50px;
    width: 500px;
    height: 80vh;
}

.phones::before{
    content: "";
    position: absolute;
    width: 420px;
    height: 650px;
    background: url(../img/iphone_x2.png) no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 230px;
}

.phones::after{
    content: "";
    position: absolute;
    width: 420px;
    height: 650px;
    background: url(../img/iphone_x2.png) no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: -70px;
}

@media only screen and (max-width: 1000px) {

    .simple{
        &__into{
            &__info{
               width: 20%; 
            }
    
        }
    }
}


@media only screen and (max-width: 820px) {

    .simple{
        &__into{
            &__info{
                padding-top: 900px;
                margin-bottom: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%; 
            }

            &__info >h2{
                text-align: center;
                margin-bottom: 0;
            }

            &__info >p{
                text-align: center;
            }
        }
    }

    .phones::before{
        top: 350px;
    }

    .phones::after{
        top: 350px;
    }
    
}