@font-face{
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
    font-family: 'Public Sans', sans-serif;
}

@font-face{
    src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
    font-family: 'DM Serif Display', serif;
}